@import url("mytheme.css");

.thunar .standard-view .view:selected { 
background-color: @thunar-alternative-color;
color: black; 
}

.thunar .sidebar .view { 
background-color: @thunar-background-color; 
color: white;

}

.thunar .standard-view { 
background-color: @thunar-background-color; 
color: white;

}

.thunar toolbar, .thunar toolbar entry  { 
background-color: @thunar-background-color; 
color: white; 
}

.thunar grid paned grid  { 
background-color: @thunar-background-color;
color: white; 
}

.thunar menubar { 
background-color: @thunar-background-color;
color: white; 
}

.thunar .shortcuts-pane .view:selected {
background-color: @thunar-alternative-color;
color: black;
}

/* Menubar dropdowns background and text color */
.thunar menubar menu, menubar menuitem {
    background-color: @thunar-background-color;
    color: white;
}


/* Highlight color for menu items when hovered */
.thunar menubar menuitem:hover {
    background-color: @thunar-alternative-color;
    color: black;
}

/* Active tab styles */
.thunar tab:checked,
tab:checked .label {
    background-color: @thunar-alternative-color;
    color: black;
}

/* Inactive tab styles */
.thunar tab,
tab .label {
    color: white;
}

/* Highlight color for menu items when hovered */
menubar menuitem:hover {
    background-color: @thunar-alternative-color;
    color: black;
}

menubar {
    background-color: @thunar-background-color;
    color: white;
}


