@import "/home/john/.config/wofi/colors.css";

window {
margin: 0px;
border: 6px solid @wofi-epsilon;
background-color: @wofi-kappa;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: @wofi-upsilon;
font-weight: bold;
}

#inner-box {
margin: 5px;
border: none;
background-color: none;
}

#outer-box {
margin: 5px;
border: none;
background-color: none;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
} 

#entry.activatable #text {
color: #282a36;
}

#entry > * {
color: #FFFFFF;
}

#entry:selected {
background-color: @wofi-omicron;

}

#entry:selected #text {
font-weight: bold;
color: @wofi-lambda;
}

